#projects,
#about,
#contact {
	padding: 50px 0;
}

/* About */
#about p,
#about h4 {
	text-align: center;
}

.about-row {
	flex-wrap: wrap;
}

.about-row-experience,
.about-row-me {
	width: 100%;
	padding-left: 0;
}

/* Contact */

#contact{
	margin-top: auto;
}
#contact p {
	font-size: 14px;
}


/* Mobile menu */ 
.menu { 
	display: flex; 
	flex-wrap: wrap; 
	justify-content: space-between; 
	align-items: center; } 
	
.toggle { order: 1; } 

.item.button { order: 2; } 

.item { width: 100%; text-align: center; order: 3; display: none; } 

.item.active { display: block; }
