@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Main Styling */
html,
body {
	font-family: 'Montserrat', sans-serif;
	background-image: url('../img/fondo1.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #FFFFFF;
}

html{
	scroll-behavior: smooth;
}


h2 {
	font-size: 1.8rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	padding-bottom: 50px;
}

h4 {
	font-size: 1.3rem;
	text-transform: uppercase;
	padding-bottom: 20px;
	font-weight: 500;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
}

a {
	text-decoration: none;
}

/* Utility Classes */
.container {
	margin: auto;
	max-width: 1300px;
	overflow: auto;
	padding: 0 20px;
}

.titleHeader {
	margin: auto;
	max-width: 1300px;
	overflow: auto;
	padding: 20px;
	text-align:right;
}


.large {
	font-size: 20px;
}

.btn {
	display: inline-block;
	font-size: 15px;
	padding: 15px 40px;
	letter-spacing: 1px;
}

.btn-outline {
	background: transparent;
	border: 1px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
}

.btn-outline:hover {
	background: #fff;
	color: #000;
}

section{
	display: flex;
	justify-content: space-evenly;
	padding: 0 40px;
	align-items:center;
}

.img_logo{
	width:100%; 
	height:auto;
}

/* Navbar */
#navbar {
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 50px;
}

#navbar a {
	color: white;
}

#navbar .logo {
	float: left;
	padding-top: 8px;
  	vertical-align: middle;

}

#navbar .title {
	float:left;
	padding-top: 45px;
	padding-left: 18px;
}


#navbar img {
	width:100px; 
	height: 100px;
}

#navbar ul {
	padding-top: 28px;
	list-style: none;
	float: right;
}

#navbar ul li {
	float: left;
}

#navbar ul li a {
	display: block;
	padding: 20px;
	text-align: center;
	color: #FFFFFF;
}

img {
	max-width: 100%;
	height: auto;

}

/* Showcase */
#showcase {
	background: url('../img/portada.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100px;
	text-align: center;
	padding: 200px;
}

/* Projects */
#projects {
	padding: 80px 0;
}

.projects-row {
	display: flex;
}

.projects-row img {
	width: 100%;
}

/* About */
#about {
	padding: 80px 0;
	/*background: #f9f9f9;*/
}

.about-row {
	display: flex;
}

.about-row-experience,
.about-row-me {
	width: 50%;
	padding-left: 50px;
}

/* Contact */
#contact {
	padding: 80px 0;
}

.contact-row {
	display: flex;
}
.contact-row-icon {
	width: 33%;
	text-align: center;
}

.contact-row-icon img {
	height: 60px;
}


/* Footer */
#mainfooter {
	background: #f9f9f9;
	text-align: center;
	padding: 30px;
}


aside{
	display: inline-block;
	background: rgb(255, 255, 255);
}
.social-sharing {
	padding-left: 20px;
	display: block;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}

i.fa::before{
    font-size: 40px;
}

a.icon-block {
	display:inline-block;
	width:10em;
	text-align:center;
}

a.icon-block i, a.icon-block {
	display:block;
	width:100%;
	clear:both;
}

/* bounce */

.container {
    border-bottom: 2px solid #000000;
    height: 200px;
    width: 100%;
}
.child {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}